.honda-cbr-button-color{
    background-color: #E76F51;
    color: #FFFFFF;
}
.honda-cbr-banner-paragraph-text-color{
    color: #e0e0e0;
}
.honda-cbr-banner-paragraph-text-size{
    font-size: 14px;
}